
article > * + * {
  margin-top: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.link-network > * + * {
  margin-top: 16px;
}

.link-network > .row > div {
  min-width: 10em;
  padding: 0;
}

.link-network card-text {
  background: red;
  color: var(--bs-gray);
}

.contents > * + * {
  margin-top: 16px;
}

.contents > div > div > :is(ul, ol) {
  margin-bottom: 0;
}

:is(.dir-list, .file-list) > .list-group-item {
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 0;
}
:is(.dir-list, .file-list) > .list-group-item > * {
  padding-left: 0;
}

hr {
  margin-top: 32px;
  margin-bottom: 16px;
}

blockquote {
  padding-left: 10px;
  margin: 10px 0;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--bs-primary);
}

.contents > div > :is(ul, ol) > li {
  margin-bottom: 8px;
}

table {
  max-width: fit-content;
  border: 8px;
  border-radius: 8px;
}
thead > tr > th {
  font-weight: normal;
}
thead > tr > th,
tbody > tr > td {
  padding-top: 8px;
  padding-bottom: 8px;
}
thead > tr > th,
tbody > tr > td {
  border: none;
}
thead > tr > th + th,
tbody > tr > td + td {
  padding-left: 16px;
}
thead > tr,
tbody > tr {
  border: none;
}
thead > tr > th {
  border-bottom: solid 2px var(--bs-light);
}
tbody > tr + tr > td {
  border-top: solid 1px var(--bs-gray);
}
thead > tr > th:empty {
  border: none;
  display: none;
}
table img {
  border-radius: 16px;
}

.hljs {
  background: #1118;
}
